<div style="padding-top: 50px;" *ngIf="router.url !== '/Login' && router.url !== '/SignUp'">
        <footer class="py-4 bg-dark text-white-50">
            <div class="container row">
                <div class="col-md-4 text-right">
                    <small>Copyright &copy;
                        <a  ID="hlAddressbook1" routerLink="./" class="text-white-50">AddressBook</a>
                        All rights reserved by us</small>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-5 text-right">
                    <small>
                        <a  ID="hladdresboook" routerLink="./" class="text-white-50">AddressBook</a>
                        Designed & Developed By Israni Ajay &nbsp;(170540107060)</small>
                </div>
            </div>
        </footer>
    </div>